.navbar-section{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.navbar-section>div{ 
    width: 100px;
    border: solid red;
}
.navbar-section>nav{ 
    width: 100%;
    border: solid red;
}

/*logo */ 
.navbar-section .logo img{ 
    width: 80px;
    height: auto;
}
.navbar-section nav>div>ul{ 
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.navbar-section nav>div>ul>li{ 
    margin: 0 0 0 30px;
    position: relative;
}
.navbar-section nav ul a{ 
    color: black;
    text-decoration: none;
}
.navbar-section nav ul a:hover{ 
    color: red;
    text-decoration: none;
}
/*submenu */ 
.sub-menu{ 
    position: absolute;
    list-style: none;
    width: 300px;
    margin-top: 5px;
    display: none;
}
.sub-menu li a{ 
    display: block;
    padding: 10px 20px 10px 5px;
    background-color:yellow;
}
.sub-menu li a:hover{ 
    background-color:red;
    color: white !important;
}

